* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body {
  background: #CBC3E3;
  color:#666;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

}
.heart{
  color:red;
}
.container {
  position: relative;
}
.inner-container{
  margin:auto;
  max-width: 1000px;
}
.flex{
  display: flex;
  flex-direction: row;
}
.jc-sb{
  justify-content: space-between;
}
.ai-c{
  align-items: center;
}
nav {
  padding: 10px;
  height: 50px;
  color:#efefef;
  background: #666666;
}
.nav-logo {
  letter-spacing: 5px;
  font-size: 1.2em;
  font-family: 'Koulen', sans-serif;
  font-weight:700;
}
.nav-menu-button {
  height:25px;
  width:25px;
  cursor: pointer;
  font-size: 1.3em;
  color: #CBC3E3;
}
.nav-menu {
  display: none;
  position: absolute;
  top:50px;
  right:0px;
  background: #efefef;
  width:300px;
  height: calc(100% - 50px);
}
.nav-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 50px);
}
.nav-menu .nav-menu-container .nav-links a,
.nav-menu .nav-menu-container .nav-links a:hover,
.nav-menu .nav-menu-container .nav-links a:visited {
  display: block;
  padding:10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color:#666666;
  font-weight: bold;
  font-size:2em;
}
main {
  height:calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .name{
  font-size:3em;
  padding:0px 20px;
  background:#666;
  color:#CBC3E3;
  font-family: 'Koulen', sans-serif;
  border-radius: 10px;
  cursor:pointer;
}


main .card{
  display: none;
  position: absolute;
  padding:20px;
  top:100px;
  left:auto;
  width:400px;
  min-height:400px;
  background:#efefef;
  border-radius:10px;
  text-align: center;
}
main .card .details p{
  text-align: left;
}
main .card h2{
  font-size: 1.2em;
}

main .card h1,main .card h2, main .card p{
  margin-bottom:10px;
}

main .card .img {
  margin:15px 0px;
  width:100%;
  max-width: 150px;
  border-radius: 50%;
  border:10px solid #CBC3E3;
}

main .card .credit { 
  margin-top: 40px;
  font-size: small;
}

/* Animations */

@keyframes flickerAnimation {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 5s infinite;
   -moz-animation: flickerAnimation 5s infinite;
   -o-animation: flickerAnimation 5s infinite;
    animation: flickerAnimation 5s infinite;
}

@media screen and (max-width:550px) {
  main .card{
    top:50px;
    width: 100%;
    height:calc(100vh - 50px);
    border-radius: 0px;
  }
}
